.main-box {
  display: block;
  background-color: white;
  flex-direction: row;
  margin-left: 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

.header {
  padding: 13px;
  text-align: center;
  background: lightblue;
  color: white;
  font-size: 30px;
}

.left-side {
    display: block;
    margin-left: 11px;
    margin-top: 16px;
}

.right-side {
    display: block;
    width: 100px;
}

.footer {
  text-align: center;
  color: white;
  font-size: 30px;
  position: fixed;
  margin-left: 335px;
}