.dialog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}
.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.card {
    margin: 30px;
    width: 200px;
    background-color:lightblue;
}

.card img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.heart {
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 70%;
    font-size: 40px;
    color: white;
    border-color: black;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}